<div class="powered-by" style="text-align: center; margin: 0 auto;max-width: 400px">
  <div style="text-align: left">Mọi thông tin chi tiết xin vui lòng liên hệ:</div>
  <ul>
    <li style="text-align: left">Fanpage: <a href="https://www.facebook.com/ngam.theproject" target="_blank">https://www.facebook.com/ngam.theproject</a></li>
    <li style="text-align: left">Email: <a href="mailto:ngam.theproject@gmail.com">ngam.theproject@gmail.com</a></li>
    <li style="text-align: left">Hotline: <a href="tel:+84974764823">(+84) 97 476 4823</a> (Bảo Ngọc)</li>
  </ul>
</div>
